
header{
    align-items: center;
    text-align: center;
    
}
.about{
    color: black;
    font-size: 30rem;
    font-weight: bold;
}
.contact{
    color: black;
    font-size: 30rem;
    font-weight: bold;
}